<!DOCTYPE html>
<html lang="en">
<head>
	<title>College Management</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/info2/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{% static '/info2/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/info2/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/info2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/info2/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'info2/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #666666;">

  
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method ="POST">
          {% csrf_token %}
         
					<span class="login100-form-title p-b-43" style="font-family : Montserrat-Bold">
						College Management
					</span>
				  
          <div class="container-login100-form-btn flex">

            <div>
              {{form.as_p}}
            </div>
            
            <div class="btn_cont" style="width: 100%" >
            <button class="login100-form-btn" type = "submit" style ="margin: 0 auto; width:50%; margin-top : 30px" >
							Login
						</button>
            </div>
          
          </div>

					
					

		
			

					
					
					
				</form>

				<div class="login100-more" style="background-image: url({% static '/info/images/background_login.jpg' %});">
				</div>
			</div>
		</div>
	</div>
	
	

	
	



</body>
</html>