<!DOCTYPE html>
<html lang="en">
<head>
	<title>College Management</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
<!--===============================================================================================-->
	<!-- <link rel="icon" type="image/png" href="{% static '/info2/images/icons/favicon.ico' %}"/> -->
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href= "{% static '/info5/bootstrap/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static '/info2/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"> -->
<!--===============================================================================================-->
	<!-- <link rel="stylesheet" type="text/css" href="{% static '/info2/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"> -->
<!--===============================================================================================-->

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/info5/bootstrap/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'info5/bootstrap/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body style="background-color: #123456;">



	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" method ="POST">
          {% csrf_token %}

					<span class="login100-form-title p-b-43" style="font-family : Montserrat-Bold">
						College Management
					</span>

          <div class="container-login100-form-btn">

            {% comment %} <div class="wrap-input100">

              {{form.as_p}}
              <p><label for="id_username">Username:</label> <input type="text" name="username" autofocus="" required="" id="id_username"></p>
              <p><label for="id_password">Password:</label> <input type="password" name="password" required="" id="id_password"></p>


            </div> {% endcomment %}

            <div class="wrap-input100 validate-input" >

						<input type="text" class="input100" name="username" autofocus required="" id="id_username">
						<span class="focus-input100"></span>
						<span class="label-input100">Username</span>
					  </div>


					  <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input type="password" class="input100" name="password" required="" id="id_password">
            	<span class="focus-input100"></span>
						<span class="label-input100">Password</span>
					  </div>


            <div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>

          </div>










				</form>

				<div class="login100-more" style="background-image: url({% static '/info5/images/background_login.jpg' %});">
				</div>
			</div>
		</div>
	</div>





  <!-- <script src="{% static '/info2/vendor/bootstrap/js/popper.js' %}"></script> -->
	<!-- <script src="{% static '/info5/bootstrap/vendor/bootstrap/js/bootstrap.min.js' %}"></script> -->


</body>

</html>
